
{% extends 'base.html.twig' %}




{% block body %}
<h2>L'équipe</h2>

<h3>Chris</h3>
<div>
    <img src="{{asset('assets/image/batchris.jpg')}}" alt="">
    <p>Je suis BATMAN et CELIBATAIRE </p>
    <p>Lecteur de comics</p>
</div>
<h3>Eric</h3>
<div>
    <img src="{{asset('assets/image/mortimeric.jpg')}}" alt="">
    <p>Je ne sais pas, appellez moi!</p>
    <p>Accro aux BD</p>
</div>
<h3>Quentin</h3>
<div>
    <img src="{{asset('assets/image/quillin.jpg')}}" alt="">
    <p>Et de deux, hmmmm!!!</p>
    <p>Fana de Mangas</p>
</div>
       

{% endblock %}


