{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}
{% block body %}
<footer>
    <div id="footer">
        <a href="{{path('cgu')}}">Mentions légales</a>
    </div>
</footer>
{% endblock %}

