{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}

<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% block body %}
<footer>
    <div id="footer">
        <a href="{{path('cgu')}}">Mentions légales</a>
        <a href="#">About</a>
    </div>
</footer>
{% endblock %}


