{% extends 'base.html.twig' %}

{% block title %}Edit Comics{% endblock %}

{% block body %}
    <h1>Edit Comics</h1>

    {{ include('comics/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comics_index') }}">back to list</a>

    {{ include('comics/_delete_form.html.twig') }}
{% endblock %}
