#login{
    width: 80%;
    margin: 1rem auto;
}
.divForm{
    width: 80%;
    margin: 1rem auto;
}
.divForm input, .divForm textarea,.divForm select {
    width: 100%;
    border-radius: 10px;
}
.divForm button{
    margin: 1rem 1rem;
    color: white;
    text-decoration: none;
}
.divForm button a{
    color: white;
    text-decoration: none;
}
#registration_form_agreeTerms{
    margin: auto 1rem;
}
.agreeTerms{
    width: 80%;
    margin: 1rem auto;
}
